<style>
<!--

* {    font-size:    9pt;    font-family:    arial, helvetica, sans-serif; line-height: 1.7em; }
p { margin: 10px;}
th {background-color:#EEEEEE}
table {border: 0px;
empty-cells: show;}
.header{background-color:#98B1C4; color: white;}
#header {
    background:#9999CC;
    color:#FFFFFF;
    }
#header .pageTitle {
    color: #ffffff;
    font-size: 12pt;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background: #9999cc; text-align: left;
    border-bottom: 1px solid black;
}

.sectionHeading
{
	/*background-color: #98b1c4;*/
	background-color: #FFFFFF;
	color: #000000;
	cursor: hand;
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-top: 2px;
	text-decoration: none;
	border: 0px;
}
-->
</style>
<div id="header"><h1 class="pageTitle"><%= @subject2 %></h1></div>
<p><%= Utils::MSG_EMAIL_SERVER_GENERATED %></p>

